@use 'variables' as *;
@use 'mixins' as *;
@use 'reset';
@use 'typography';

#app {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 $spacing-lg;
}